.HighScoreContainer {
  width: 500px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 0px;
}

.HighScore {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.columnHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}
