.HighScoreContainer {
  width: 500px;
  height: 300px;
  margin: 0 auto;
  text-align: left;
  padding: 0px;
}

.HighScore {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.columnHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.columnHeader h3,
.HighScore div {
  flex: 1 0;
}

.columnHeader h3:nth-child(3),
.HighScore div:nth-child(3) {
  text-align: right;
}
